// custom colors
$primary-background: #fff;
$primary-color: #fff;
$secondary-color: #000;
$unselected: #b3b3b3;
$unselected-border: #f0f0f0;
$accent-color: #2daafc;
$accent-text-color: #1b76c5;

html {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .left-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 22%;
    background-color: $primary-background;

    & > * {
      display: flex;
      height: 10rem;
      align-items: center;
    }

    .logo {
      width: 7rem;
      align-self: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .social-links {
      height: 7rem;
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2.5rem;

      button {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border: none;
        background-color: $accent-color;
        color: $primary-color;
        font-size: 1.5rem;
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    background-image: url("./Images/CSS-Excercise.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-color;

    .header-nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      font-size: larger;

      & > * {
        margin-top: 3rem;
      }

      .links {
        margin: 3rem 6rem 0 auto;

        span {
          margin: 0 1rem;
        }
      }

      .flag {
        display: flex;
        align-items: center;
        padding-right: 2rem;
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
        svg {
          font-size: medium;
        }
      }

      .authorization {
        padding-right: 2rem;

        span {
          margin: 0 1rem;
        }

        .sign-up {
          background-color: $primary-background;
          color: $accent-text-color;
          font-weight: bold;
          padding: 0.5rem;
          border-radius: 8px;
        }
      }
    }

    .wanderlust {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1;
      justify-content: center;
      margin-left: 25rem;

      & > * {
        width: 100%;
        text-align: start;
      }

      h1 {
        font-size: 6em;
        text-transform: uppercase;
        margin: 0%;
      }

      h2 {
        font-size: 3.4em;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.9em;
        font-weight: 500;
        margin-top: 1rem;
      }
    }

    .help {
      margin: auto 3rem 2.5rem auto;
      height: 2.5rem;
      width: 2.5rem;
      color: $primary-color;
      text-align: center;
      font-size: 3rem;
      border-radius: 50%;
    }
  }

  .pop-up-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    transform: translate(7vw, -80vh);
    height: 60%;
    width: 31rem;
    background-color: $primary-background;
    border-radius: 3%;
    box-shadow: 0px 0px 50px #48484845;

    .travel-selection {
      display: flex;
      width: 100%;
      height: 5rem;
      margin-bottom: 1.5rem;

      .selection-item {
        width: 25%;
        border-bottom: 2px solid $unselected-border;
        text-align: center;
        color: #b3b3b3;
        padding: 1.4rem;

        p {
          margin: 0;
        }

        svg {
          font-size: 1.2rem;
        }
      }

      .selected {
        border-bottom: 2px solid $accent-color;
        color: $accent-color;
        font-weight: 550;
      }
    }

    .input-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      column-gap: 5%;
      row-gap: 1rem;
      width: 85%;

      .destination-input {
        grid-column: span 2;
      }

      .pop-up-input {
        border-bottom: 2px solid $unselected-border;

        .input-heading {
          color: $unselected;
          font-size: 0.8rem;
          font-weight: 600;
        }

        .input-field {
          margin-bottom: 5px;

          svg {
            font-size: larger;
            margin-bottom: -4px;
          }
        }
      }
    }

    .find {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 7.5rem;

      button {
        align-self: flex-end;
        margin: 1rem 2.3rem;
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: $accent-color;
        color: $primary-color;
        font-size: 1rem;
        padding: 1rem;

        svg {
          font-size: 1.5rem;
          margin-bottom: -5px;
        }
      }
    }
  }
}
